// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "about";
@import "user_auth";

body {
  font-family: Lato;
  padding-top: 70px;
  background: rgb(213, 213, 213);
  h1 {
    color: rgb(24, 118, 38);
    small {
      color: rgb(24, 118, 38);
    }
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.title-text {
  font-family: Lato;
  font-size: 2em;
  color: hsl(60, 33%, 99%);
}

.navbar-fixed-top {
  background-color: rgb(24, 118, 38);
}

.navbar-default .navbar-nav > li > a {
  color: hsl(60, 33%, 99%);

  &:hover {
    color: hsl(0, 0%, 88%);
  }
}
